<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 p-0 h-100">
            <div class="jumbotron h-100 text-center m-0 bg-info d-flex flex-column justify-content-center">
                <h1 class="display-4">Jumbotron</h1>
                <p class="lead">This is a full-screen centered hero unit.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>

