<div class="card my-4">
  <h5 class="card-header">Search</h5>
  <div class="card-body">
    <div class="input-group">
      <div class="form-inline">
        <%= form_tag(search_newspapers_path, method: 'get', remote: true) do %>
          <%= text_field_tag :search, params[:search], :class =>"form-control col-sm-9", id: "search-form", placeholder: "Search for..."%>
          <span class="input-group-btn ml-2">
            <%= submit_tag "Go!", :class => "btn btn-secondary my-2 my-sm-0 btn-go" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>