<% newspapers.each do |newspaper| %>
  <!-- Blog Post -->
  <%= render 'action', newspaper: newspaper %>
<% end %>
<!-- Pagination -->
<div class="row pagination" align="center">
  <%#= will_paginate newspapers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>