<h2 class="sample"> This is <%= @newspaper.title %> Newspaper</h2>
<div class="container">
  <div class="row sample">
    <div class="col-xs-9 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <div class="row">
            <label>Titile</label>
          <h3><%= @newspaper.title %></h3>
          </div>
          
        </div>

        <div class="article-text">
          <h6><%= @newspaper.content %></h6>
        </div>

      </div>
    </div>
  </div>
</div>
