<h2 class="sample" align="center"> This is <%= @newspaper.title %> Newspaper</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
            <h3> Title:<%= @newspaper.title %></h3>
          </div>
        </div>
        <div class="article-text">
          <h3> Content:<%= @newspaper.content %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
