<% if ((params[:controller] === "devise/sessions") && (params[:action] === "new")) %>
  <footer class="py-5 bg-dark footer fixed-bottom">
<% elsif ((params[:controller] === "registrations") && (params[:action] === "new")) %>
  <footer class="py-5 bg-dark footer fixed-bottom">
<% elsif ((params[:controller] === "welcome") && (params[:action] === "index")) %>
  <footer class="py-5 bg-dark footer fixed-bottom">
<% elsif ((params[:controller] === "newspapers") && (params[:action] === "show")) %>
  <footer class="py-5 bg-dark footer fixed-bottom">

<% else %>
  <footer class="py-5 bg-dark footer ">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
  </footer>
<% end %>